[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/extra_syntax_files/start/airline-themes"]
	path = pack/extra_syntax_files/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/extra_syntax_files/start/applescript"]
	path = pack/extra_syntax_files/start/applescript
	url = https://github.com/dearrrfish/vim-applescript.git
[submodule "pack/extra_syntax_files/start/csv"]
	path = pack/extra_syntax_files/start/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "pack/extra_syntax_files/start/easteregg"]
	path = pack/extra_syntax_files/start/easteregg
	url = https://github.com/evanthegrayt/vim-easteregg.git
[submodule "pack/extra_syntax_files/start/elm"]
	path = pack/extra_syntax_files/start/elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "pack/extra_syntax_files/start/fish"]
	path = pack/extra_syntax_files/start/fish
	url = https://github.com/dag/vim-fish.git
[submodule "pack/plugins/start/visual-increment"]
	path = pack/plugins/start/visual-increment
	url = https://github.com/vim-scripts/visual-increment.git
[submodule "pack/extra_syntax_files/start/syntax-extra"]
	path = pack/extra_syntax_files/start/syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "pack/extra_syntax_files/start/markdown"]
	path = pack/extra_syntax_files/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/extra_syntax_files/start/json"]
	path = pack/extra_syntax_files/start/json
	url = https://github.com/elzr/vim-json.git
[submodule "pack/libs_and_utils/start/addon-mw-utils"]
	path = pack/libs_and_utils/start/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/libs_and_utils/start/cecutil"]
	path = pack/libs_and_utils/start/cecutil
	url = https://github.com/vim-scripts/cecutil.git
[submodule "pack/libs_and_utils/start/csapprox"]
	path = pack/libs_and_utils/start/csapprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "pack/libs_and_utils/start/tlib"]
	path = pack/libs_and_utils/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/tpope/opt/pathogen"]
	path = pack/tpope/opt/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pack/tpope/start/bundler"]
	path = pack/tpope/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/tpope/start/capslock"]
	path = pack/tpope/start/capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule "pack/plugins/start/easymotion"]
	path = pack/plugins/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/tpope/start/endwise"]
	path = pack/tpope/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/indentline"]
	path = pack/plugins/start/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/indexed-search"]
	path = pack/plugins/start/indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule "pack/extra_syntax_files/start/javascript"]
	path = pack/extra_syntax_files/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugins/start/rooter"]
	path = pack/plugins/start/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "pack/tpope/start/rsi"]
	path = pack/tpope/start/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "pack/plugins/start/rubocop"]
	path = pack/plugins/start/rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "pack/plugins/start/splitjoin"]
	path = pack/plugins/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/update-plugins"]
	path = pack/plugins/start/update-plugins
	url = https://github.com/evanthegrayt/vim-update-plugins.git
[submodule "pack/tpope/start/git"]
	path = pack/tpope/start/git
	url = https://github.com/tpope/vim-git.git
[submodule "pack/plugins/start/man"]
	path = pack/plugins/start/man
	url = https://github.com/vim-utils/vim-man.git
[submodule "pack/plugins/start/vader"]
	path = pack/plugins/start/vader
	url = https://github.com/junegunn/vader.vim.git
[submodule "pack/extra_syntax_files/start/previm"]
	path = pack/extra_syntax_files/start/previm
	url = https://github.com/previm/previm.git
[submodule "pack/tpope/start/rails"]
	path = pack/tpope/start/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/tpope/start/dispatch"]
	path = pack/tpope/start/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/tpope/start/eunuch"]
	path = pack/tpope/start/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/tpope/start/jdaddy"]
	path = pack/tpope/start/jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "pack/tpope/start/dadbod"]
	path = pack/tpope/start/dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/extra_syntax_files/start/textobj-rubyblock"]
	path = pack/extra_syntax_files/start/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "pack/extra_syntax_files/start/indent-object"]
	path = pack/extra_syntax_files/start/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "pack/extra_syntax_files/start/tagbar-markdown"]
	path = pack/extra_syntax_files/start/tagbar-markdown
	url = https://github.com/lvht/tagbar-markdown.git
[submodule "pack/extra_syntax_files/start/textobj-user"]
	path = pack/extra_syntax_files/start/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "pack/tpope/start/rake"]
	path = pack/tpope/start/rake
	url = https://github.com/tpope/vim-rake
[submodule "pack/tpope/start/projectionist"]
	path = pack/tpope/start/projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "pack/extra_syntax_files/start/haskell"]
	path = pack/extra_syntax_files/start/haskell
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/extra_syntax_files/start/coffee-script"]
	path = pack/extra_syntax_files/start/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "pack/plugins/start/phpcomplete"]
	path = pack/plugins/start/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "pack/extra_syntax_files/start/php"]
	path = pack/extra_syntax_files/start/php
	url = https://github.com/stanangeloff/php.vim
[submodule "pack/plugins/start/laravel"]
	path = pack/plugins/start/laravel
	url = https://github.com/noahfrederick/vim-laravel.git
[submodule "pack/plugins/start/composer"]
	path = pack/plugins/start/composer
	url = https://github.com/noahfrederick/vim-composer.git
[submodule "pack/extra_syntax_files/start/blade"]
	path = pack/extra_syntax_files/start/blade
	url = https://github.com/jwalton512/vim-blade.git
[submodule "pack/extra_syntax_files/start/rainbow"]
	path = pack/extra_syntax_files/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "pack/extra_syntax_files/start/javascript-es6"]
	path = pack/extra_syntax_files/start/javascript-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/tpope/start/dotenv"]
	path = pack/tpope/start/dotenv
	url = https://github.com/tpope/vim-dotenv.git
[submodule "pack/plugins/start/snippets"]
	path = pack/plugins/start/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/plugins/start/gutentags"]
	path = pack/plugins/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/extra_syntax_files/start/bats"]
	path = pack/extra_syntax_files/start/bats
	url = https://github.com/vim-scripts/bats.vim.git
[submodule "pack/tpope/start/abolish"]
	path = pack/tpope/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/extra_syntax_files/start/dbml"]
	path = pack/extra_syntax_files/start/dbml
	url = https://github.com/jidn/vim-dbml.git
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/tpope/start/vinegar"]
	path = pack/tpope/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/tpope/start/rbenv"]
	path = pack/tpope/start/rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule "pack/tpope/start/rhubarb"]
	path = pack/tpope/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/evanthegrayt/start/lovehandle"]
	path = pack/evanthegrayt/start/lovehandle
	url = https://github.com/evanthegrayt/vim-lovehandle.git
[submodule "pack/plugins/start/ferret"]
	path = pack/plugins/start/ferret
	url = https://github.com/wincent/ferret.git
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/evanthegrayt/start/noteworthy"]
	path = pack/evanthegrayt/start/noteworthy
	url = https://github.com/evanthegrayt/vim-noteworthy.git
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/start/ctrlp-tjump"]
	path = pack/plugins/start/ctrlp-tjump
	url = https://github.com/ivalkeen/vim-ctrlp-tjump.git
