[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/extra_syntax_files/start/airline-themes"]
	path = pack/extra_syntax_files/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/gundo"]
	path = pack/plugins/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "pack/extra_syntax_files/start/applescript"]
	path = pack/extra_syntax_files/start/applescript
	url = https://github.com/dearrrfish/vim-applescript.git
[submodule "pack/extra_syntax_files/start/csv"]
	path = pack/extra_syntax_files/start/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "pack/extra_syntax_files/start/easteregg"]
	path = pack/extra_syntax_files/start/easteregg
	url = https://github.com/evanthegrayt/vim-easteregg.git
[submodule "pack/extra_syntax_files/start/elm"]
	path = pack/extra_syntax_files/start/elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "pack/extra_syntax_files/start/fish"]
	path = pack/extra_syntax_files/start/fish
	url = https://github.com/dag/vim-fish.git
[submodule "pack/extra_syntax_files/start/jellybeans"]
	path = pack/extra_syntax_files/start/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "pack/plugins/start/quickrun"]
	path = pack/plugins/start/quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "pack/plugins/start/visual-increment"]
	path = pack/plugins/start/visual-increment
	url = https://github.com/vim-scripts/visual-increment.git
[submodule "pack/extra_syntax_files/start/syntax-extra"]
	path = pack/extra_syntax_files/start/syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "pack/extra_syntax_files/start/markdown"]
	path = pack/extra_syntax_files/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/extra_syntax_files/start/json"]
	path = pack/extra_syntax_files/start/json
	url = https://github.com/elzr/vim-json.git
[submodule "pack/libs_and_utils/start/addon-mw-utils"]
	path = pack/libs_and_utils/start/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/libs_and_utils/start/cecutil"]
	path = pack/libs_and_utils/start/cecutil
	url = https://github.com/vim-scripts/cecutil.git
[submodule "pack/libs_and_utils/start/csapprox"]
	path = pack/libs_and_utils/start/csapprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "pack/libs_and_utils/start/tlib"]
	path = pack/libs_and_utils/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/plugins/opt/pathogen"]
	path = pack/plugins/opt/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pack/plugins/start/ack"]
	path = pack/plugins/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/plugins/start/bufexplorer"]
	path = pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "pack/plugins/start/bufferline"]
	path = pack/plugins/start/bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "pack/plugins/start/buffersaurus"]
	path = pack/plugins/start/buffersaurus
	url = https://github.com/jeetsukumaran/vim-buffersaurus.git
[submodule "pack/plugins/start/bundler"]
	path = pack/plugins/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/plugins/start/capslock"]
	path = pack/plugins/start/capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/plugins/start/easymotion"]
	path = pack/plugins/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/plugins/start/endwise"]
	path = pack/plugins/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/indentline"]
	path = pack/plugins/start/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/indexed-search"]
	path = pack/plugins/start/indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule "pack/extra_syntax_files/start/javascript"]
	path = pack/extra_syntax_files/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/multiple-cursors"]
	path = pack/plugins/start/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/repeat"]
	path = pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugins/start/rooter"]
	path = pack/plugins/start/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "pack/plugins/start/rsi"]
	path = pack/plugins/start/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "pack/plugins/start/rubocop"]
	path = pack/plugins/start/rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "pack/plugins/start/snipmate"]
	path = pack/plugins/start/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/plugins/start/snippets"]
	path = pack/plugins/start/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/plugins/start/speeddating"]
	path = pack/plugins/start/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/plugins/start/splitjoin"]
	path = pack/plugins/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/update-plugins"]
	path = pack/plugins/start/update-plugins
	url = https://github.com/evanthegrayt/vim-update-plugins.git
[submodule "pack/plugins/start/dragvisuals"]
	path = pack/plugins/start/dragvisuals
	url = https://github.com/atweiden/vim-dragvisuals.git
[submodule "pack/plugins/start/git"]
	path = pack/plugins/start/git
	url = https://github.com/tpope/vim-git.git
[submodule "pack/plugins/start/man"]
	path = pack/plugins/start/man
	url = https://github.com/vim-utils/vim-man.git
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/vader"]
	path = pack/plugins/start/vader
	url = https://github.com/junegunn/vader.vim.git
[submodule "pack/extra_syntax_files/start/previm"]
	path = pack/extra_syntax_files/start/previm
	url = https://github.com/previm/previm.git
[submodule "pack/plugins/start/rails"]
	path = pack/plugins/start/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/plugins/start/dispatch"]
	path = pack/plugins/start/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/plugins/start/eunuch"]
	path = pack/plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/jdaddy"]
	path = pack/plugins/start/jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "pack/plugins/start/dadbod"]
	path = pack/plugins/start/dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/extra_syntax_files/start/textobj-rubyblock"]
	path = pack/extra_syntax_files/start/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "pack/extra_syntax_files/start/indent-object"]
	path = pack/extra_syntax_files/start/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "pack/extra_syntax_files/start/tagbar-markdown"]
	path = pack/extra_syntax_files/start/tagbar-markdown
	url = https://github.com/lvht/tagbar-markdown.git
[submodule "pack/extra_syntax_files/start/textobj-user"]
	path = pack/extra_syntax_files/start/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "pack/plugins/start/rspec"]
	path = pack/plugins/start/rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "pack/plugins/start/rake"]
	path = pack/plugins/start/rake
	url = https://github.com/tpope/vim-rake
[submodule "pack/plugins/start/projectionist"]
	path = pack/plugins/start/projectionist
	url = https://github.com/tpope/vim-projectionist
